*{
    background-color: white;
    font-family: Lato;
    background-color: rgb(250, 235, 215)
}

p{
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    text-align: center;
}

.upload-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.imageboard{
    -moz-column-width: 30em;
    -webkit-column-width: 30em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.elem {
    display: inline-block;
    margin:  0.25rem;
    padding:  1rem;
    width:  100%;
    background:  #efefef;
}

.imgBackground {
    background-color: #efefef;
}

.image {
    width: 100%;
    background-color: inherit;
}

.title {
    margin: 2px;
    background-color: inherit;
}

.username {
    background-color: inherit;
}

.shadow {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.3);
}


#upload-screen {
    padding-top: 3%;
    position: absolute;
    width: 30%;
    height: 20%;
    left: 40%;
    top: 40%;
    z-index: 100;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.close {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.input-upload {
    margin-top: 3%;
    background-color: inherit;
    border: 1px solid rgba(0,0,0, 0.3);
}

#bottom.upload-button {
    bottom: 20px;
    top: auto;
}

input[type="file"] {
    color: rgba(0,0,0, 0.6);
    border: none;
}

.single-image-div {
    padding-top: 100px;
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    z-index: 100;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.single-image {
    /*border-radius: 20px;*/
    max-width: 80%;
    max-height: 80%;
}
