*{
    background-color: white;
    font-family: Lato;
    background-color: rgb(250, 235, 215)
}

h4 {
    background-color: white;
    margin: 2px;
    margin-top: 20px;
}

p{
    background-color: white;
    margin: 3px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    text-align: center;
}

.upload-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.imageboard{
    -moz-column-width: 30em;
    -webkit-column-width: 30em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.elem {
    display: inline-block;
    margin:  0.25rem;
    padding:  1rem;
    width:  100%;
    background:  #efefef;
}

.imgBackground {
    background-color: #efefef;
}

.image {
    width: 100%;
    background-color: inherit;
}

.title {
    margin: 2px;
    background-color: inherit;
}

.username {
    background-color: inherit;
}

.shadow {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
}


#upload-screen {
    padding-top: 3%;
    position: absolute;
    width: 30%;
    height: 20%;
    left: 40%;
    top: 40%;
    z-index: 100;
    background-color: white;
    border-radius: 3px;
    text-align: center;
}

.close {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.input-upload {
    margin-top: 3%;
    background-color: inherit;
    border: 1px solid rgba(0,0,0, 0.3);
}

#bottom.upload-button {
    bottom: 20px;
    top: auto;
}

input[type="file"] {
    color: rgba(0,0,0, 0.6);
    border: none;
}

.single-image-div {
    padding-top: 0;
    position: absolute;
    width: 90%;
    height: 85%;
    left: 5%;
    top: 7%;
    z-index: 100;
    background-color: white;
    border-radius: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.leftImage{
    background-color: inherit;
    border-radius: inherit;
    width: 80%;
}

.comments {
    width: 20%;
    background-color: inherit;
    /*border: 1px solid black;*/
    margin: 0;
    border-radius: inherit;
    padding-top: 30px;
}

.single-image {
    object-fit: cover;
}

.portrait-cont {
    height: 81%;
    width: 60%;
    left: 20%;
    top: 10%;
}

.portrait-div {
    width: 50%;
}

.portrait-pic {
    max-height: 100%;
    width: 100%;
}

.portrait-comments {
    width: 50%;
}

.square-cont {
    width: 73%;
    height: 80%;
    top: 10%;
    left: 13%;
}

.square-div {
    width: 75%;
}

.square-pic {
    width: 100%
}

.square-comments {
    width: 25%;
}

.landscape-cont {
    height: 80%;
}

.landscape-pic {
    width: 100%;
}





.singleComment {
    /*border: 1px solid black;*/
    border-radius: inherit;
    margin-top: 8px;
    background-color: inherit;
    width: 98%;
}

.comment {
    margin: 0;
    border-radius: inherit;
    width: 95%;
}

#comments {
    background-color: inherit;
}

.commentInfo {
    margin: 0;
    margin-top: 3px;
    font-size: 13px;
    color: rgba(0,0,0, 0.6);
    border-radius: inherit;
}


.addComment {
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}

#commentButton.upload-button {
    position: relative;
    right: 0;
    top: 10px;
}

#text-comment {
    height: 30px;
}
